h1{ text-align:center;
    background-color:navy;
    color: white;
    font-size:500%;
}
body{ text-align:center;

}
#links{ 
    text-align: left;}
#intro{ text-align:left;
        font-size-adjust: 0.58;
        border-bottom-style: solid